/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
    font-family: 'deliciousroman';
    src: url('fonts/delicious-roman-webfont.eot');
    src: url('fonts/delicious-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/delicious-roman-webfont.woff') format('woff'),
         url('fonts/delicious-roman-webfont.ttf') format('truetype'),
         url('fonts/delicious-roman-webfont.svg#deliciousroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'deliciousroman', Arial, sans-serif;
  padding-bottom: 40px;
  color: #5a5a5a;
}

a:link, a:visited, a:hover {
	text-decoration:none;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
  width:100%;
  height:100%;
}

.navbar-wrapper .navbar {
	padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  height: 100px;
  background-color: #3276b1;
  border-color: #285e8e;
}

.navbar-wrapper .navbar-brand {

  font-size: 400%;
	font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  color:#FFFFFF;
  text-align: center;
  margin: auto;
  line-height: 45px;
}

.navbar-wrapper .navbar-header.pull-left .btn {
	margin-top: 12px;
  margin-left: 30px;
	font-size: 25px;
  color:#FFFFFF;
}

.navbar-wrapper .navbar-header.pull-right .btn {
  margin-top: 12px;
  margin-right: 30px;
  font-size: 25px;
  color:#FFFFFF;
  background: none;
}

/* SEARCH
-------------------------------------------------- */

#searchContainer {
  margin-top: 120px;
}

#searchContainer input {
  height: 44px;
  font-size: 20px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.ui-autocomplete-category {
    font-weight: bold;
    line-height: 1.5;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.carousel a {
  color: #000;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: #000;
  text-shadow: none;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #fff;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
}

.carousel-inner .item img {
  width: 240px;
  height: 160px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  color: #000;
  text-shadow: none;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
#categoryContainer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
#categoryContainer .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
#categoryContainer h2 {
  font-weight: normal;
}
#categoryContainer .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

#categoryContainer .btn {
  height: 140px;
  font-size: 180%;
	background-color: #3276b1;
	font-weight: bold;
	color: #FFFFFF;
}

#categoryContainer .category {
  text-align: center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  #categoryContainer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
